* {
    margin: 0;
    font-family: 'Poiret One';
}

.body {
    background-color: black;
    position: relative;
    z-index: -1;
}

/*  Animacje  */

@keyframes skill-orbit {
    0% {
        top: 0%;
        left: 50%;
        transform: scale(0.5);
        opacity: 0.2;
    }
    12.5% {
        top: 15%;
        left: 85%;
        transform: scale(0.6);
        opacity: 0.4;
    }
    25% {
        top: 50%;
        left: 100%;
        transform: scale(0.8);
        opacity: 0.6;
    }
    37.5% {
        top: 85%;
        left: 85%;
        transform: scale(1.1);
        opacity: 0.8;
    }
    50% {
        top: 100%;
        left: 50%;
        transform: scale(1.5);
        opacity: 1;
    }
    62.5% {
        top: 85%;
        left: 15%;
        transform: scale(1.1);
        opacity: 0.8;
    }
    75% {
        top: 50%;
        left: 0%;
        transform: scale(0.8);
        opacity: 0.6;
    }
    87.5% {
        top: 15%;
        left: 15%;
        transform: scale(0.6);
        opacity: 0.4;
    }
    100% {
        top: 0%;
        left: 50%;
        transform: scale(0.5);
        opacity: 0.2;
    }
}

@keyframes golden {
    37.5% {
        text-shadow: 0px 0px 25px #000000;
    }

    50% {
        text-shadow: 0px 0px 25px #0080FF;
    }

    62.5% {
        text-shadow: 0px 0px 25px #000000;
    }
}

/*  Triangles  */

.triangle-container {
    position: relative;
    z-index: -1;

    #triangle-1 {
        width: 0;
        height: 0;
        border-bottom: 500px solid transparent;
        border-top: 500px solid transparent;
        border-left: 500px solid #080808;
        position: absolute;
        top: -250px;
    }

    #triangle-2 {
        width: 0;
        height: 0;
        border-bottom: 500px solid transparent;
        border-top: 500px solid transparent;
        border-right: 500px solid #080808;
        position: absolute;
        top: -400px;
        right: 0;
    }
}

/*  Navbar  */

#main-nav {
    transition: all 1s;

    .navbar-brand {
        font-size: 30px;
        transition: all 0.4s;

        span {
            color: #0080FF;
            transition: all 0.4s;
            font-family: 'Orbitron', sans-serif;
        }
    }

    .navbar-brand:hover {
        color: #0080FF;
        cursor: pointer;
        
        span {
            color: #fff;
        }
    }

    .nav-link {
        color: #fff;
        font-size: 20px;
        margin-right: 30px;
        transition: all 0.4s;
    }
    .nav-link:hover {
        color: #0080FF;
        cursor: pointer;
    }
}

.navbar-transp {
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-blue {
    background-color: rgba(0, 128, 255, 0.5);
}

/*  Hero  */

#hero {
    height: 100vh;
    background-image: url("../resources/nightsky.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;

    #earth {
        position: absolute;
        width: 50%;
        border-radius: 50%;
        bottom: -25%;
        left: -5%;
        z-index: 1;
    }

    #moon {
        position: absolute;
        width: 10%;
        border-radius: 50%;
        top: 20%;
        right: 20%;
    }

    #hero-center-title {
        display: inline-block;
        width: 800px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        font-family: 'Orbitron', sans-serif;
        color: #fff;
        text-transform: uppercase;

        h1 {
            font-size: 60px;
            text-align: center;
        }

        h2 {
            color: #0080FF;
            font-weight: 700;
            text-align: right;
        }

        h3 {
            text-align: right;
            font-size: 20px;
        }
    }

    #hero-mask {
        position: absolute;
        height: 50vh;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        width: 100%;
        z-index: 3;
    }
}

#heroMobile {
    display: none;
}

/*  Sections  */

section {
    padding: 50px;
    color: #fff;
    text-align: center;
    position: relative;
    
    #photo {
        width: 80%;
        border: 10px solid #080808;
    }

    h3 {
        margin: 100px 50px;
        font-size: 40px;

        span {
            color: #0080FF;
        }
    }

    p {
        font-size: 20px;
    }

    h4 {
        margin-top: 50px;
        color: #0080FF;
    }

    .hobby {
        height: 200px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #080808;
        margin: 50px auto;
        transition: all 0.4s;

        h5 {
            transition: all 0.4s;
        }
    }

    .hobby:hover {
        height: 200px;
        width: 200px;
        background-color: #0080FF;
        border-radius: 50%;

        h5 {
            font-size: 30px;
        }
    }


    #skills {
        height: 100px;
        width: 800px;
        position: relative;
        margin: 100px auto;
        left: -75px;

        .skill {
            height: 120px;
            width: 150px;
            position: absolute; //            transform: translate(-50%, -50%);
            top: 0%;
            left: 50%;
            animation-name: skill-orbit;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            opacity: 0;

            .fab,
            .fas {
                font-size: 50px;
                color: #fff;
                animation-name: golden;
                animation-duration: 10s;
                animation-iteration-count: infinite;
            }

            p {
                margin: 10px 0;
                font-size: 20px;
                color: #fff;
                animation-name: golden;
                animation-duration: 10s;
                animation-iteration-count: infinite;
            }

            #bootstrap-icon {
                color: #fff;
                font-size: 45px;
                font-family: Helvetica;
                line-height: 50px;
                border: 1px solid #fff;
                border-radius: 5px;
                height: 50px;
                width: 50px;
                margin: 0 auto;
                animation-name: golden;
                animation-duration: 10s;
                animation-iteration-count: infinite;
            }
        }

        #skill-2 {
            animation-delay: 1.25s;

            p,
            .fab {
                animation-delay: 1.25s;
            }
        }

        #skill-3 {
            animation-delay: 2.5s;

            p,
            .fab {
                animation-delay: 2.5s;
            }
        }

        #skill-4 {
            animation-delay: 3.75s;

            p,
            .fas {
                animation-delay: 3.75s;
            }
        }

        #skill-5 {
            animation-delay: 5s;

            p,
            #bootstrap-icon {
                animation-delay: 5s;
            }
        }

        #skill-6 {
            animation-delay: 6.25s;

            p,
            .fab {
                animation-delay: 6.25s;
            }
        }

        #skill-7 {
            animation-delay: 7.5s;

            p,
            .fab {
                animation-delay: 7.5s;
            }
        }

        #skill-8 {
            animation-delay: 8.75s;

            p,
            .fab {
                animation-delay: 8.75s;
            }
        }
    }
}

#contact-section {

    #contact-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        a {
            display: inline-block;
            height: 80px;
            width: 80px;
            margin: 100px;
            border: 1px solid #0080FF;
            border-radius: 50%;
            text-decoration: none;
            color: #0080FF;
            transition: all 0.4s;

            .fab {
                font-size: 40px;
                margin-top: 20px;
            }
        }

        a:hover {
            background-color: #0080FF;
            color: #000;
        }
    }
}

footer {
    height: 100px;
    background-color: #0080FF;
    text-align: center;
    color: #000;

    #logo {
        display: inline-block;
        height: 60px;
        width: 60px;
        border: 1px solid #000;
        border-radius: 50%;
        margin: 10px;

        p {
            font-size: 30px;
            margin-top: 30px;

        }
    }

    p:last-child {
        font-size: 10px;
        font-family: 'Orbitron', sans-serif;
        font-weight: 700;
        line-height: 0;
    }
}
